In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib as mp

In [7]:
df = pd.read_csv('archive\motor_data14-2018.csv')

In [9]:
df.head(100)

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
0,0,08-AUG-17,07-AUG-18,08,1202,519755.22,5097.83,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
1,0,08-AUG-16,07-AUG-17,08,1202,519755.22,6556.52,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
2,0,08-AUG-15,07-AUG-16,08,1202,519755.22,6556.52,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
3,0,08-AUG-14,07-AUG-15,08,1202,519755.22,5102.83,5000029885,2007.0,4.0,6.0,Pick-up,3153.0,NISSAN,Own Goods,NaN
4,0,08-AUG-17,07-AUG-18,08,1202,1400000.00,13304.87,5000029901,2010.0,4.0,7.0,Pick-up,2494.0,TOYOTA,Own Goods,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,18-JUL-16,17-JUL-17,91,1202,30000.00,1793.01,5000031135,1983.0,4.0,7.0,Pick-up,1584.0,ISUZU,Own Goods,NaN
96,0,18-JUL-15,17-JUL-16,91,1202,30000.00,1878.40,5000031135,1983.0,4.0,7.0,Pick-up,1584.0,ISUZU,Own Goods,NaN
97,0,18-JUL-14,17-JUL-15,91,1202,30000.00,1966.90,5000031135,1983.0,4.0,7.0,Pick-up,1584.0,ISUZU,Own Goods,NaN
98,0,18-JUL-17,17-JUL-18,91,1202,120000.00,1700.54,5000031138,1988.0,2.0,10.0,Pick-up,2494.0,NISSAN,Own Goods,NaN
99,0,18-JUL-16,17-JUL-17,91,1202,52000.00,1395.30,5000031138,1988.0,2.0,10.0,Pick-up,2494.0,NISSAN,Own Goods,NaN